In [4]:
from datetime import datetime as dt, timedelta as td
import numpy as np
import pandas as pd
import pandahouse as ph
import seaborn as sns
from scipy import stats

In [5]:
connection = {'host': 'http://172.18.0.1:8123', 'database': 'test'}

In [17]:
#query = "drop table {db}.etl_metadata"
#query = "insert into {db}.etl_metadata VALUES ({values});"
#values = ["'{}'".format(x) for x in ['wew', 'key', 'val', 'NONE']]
#query = query.format(db='test', values=', '.join(values))
#query = "select * from {db}.ctl_metadata order by table, param"
#query = "ALTER TABLE {db}.ctl_metadata DELETE WHERE 1=1;".format(db='test')
query = "truncate table {db}.ctl_metadata"
#query = "select count(*) from {db}.message_actions"


df = ph.read_clickhouse(query, connection=connection)
df.head(20)

KeyError: ''

In [9]:
def wew():
    for i in range(5):
        yield i
    print('wew')
    
for i in wew():
    print(i)

0
1
2
3
4
wew